<%=render partial: "layouts/head"%>
			
			
			<!-- Banner Start -->
      
      <div class="banner padd">
        <div class="container">
          <!-- Image -->
          <img class="img-responsive" src="http://dakotapethospital.com/clients/14546/images/slideshows/29628/banner%204%20edited.jpg" alt="" />
          <!-- Heading -->
          <h2 class="brown">About Us</h2>
          <ol class="breadcrumb">
            
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
      <br>
      <!-- Banner End -->
			
			
			
		
				
				<!-- Chefs Start -->
				
				<div class="chefs padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">
							<!-- Crown image -->
							<img class="img-responsive" src="img/crown.png" alt="" />
							<!-- Heading -->
							<h2>Our Members</h2>
							<!-- Paragraph -->
							<br><br><br><br>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<!-- Chef Member -->
								<div class="chefs-member">
									<!-- Chefs member header -->
									<div class="chefs-head">
										<!-- Member background image -->
										<img class="chefs-back img-responsive" src="img/chef/c-back2.jpg" alt="" />
										<!-- chef member image -->
										<img class="chefs-img img-responsive" src="http://imageshack.com/a/img538/9007/1oWYGa.jpg" alt="" />
									</div>
									<!--Name / Heading -->
									<h3><a href="#">Muqing Zhou</a></h3>
									<!-- Member designation -->
									<p>Master Student</p>
									<span>Department of Electronical & Computer Engineering</span>
									<!-- Social media links -->
									<!--<div class="social">
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>-->
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<!-- Chef Member -->
								<div class="chefs-member">
									<!-- Chefs member header -->
									<div class="chefs-head">
										<!-- Member background image -->
										<img class="chefs-back img-responsive" src="img/chef/c-back2.jpg" alt="" />
										<!-- chef member image -->
										<img class="chefs-img img-responsive" src=" http://imageshack.com/a/img538/7237/B8b61N.jpg" alt="" />
									</div>
									<!--Name / Heading -->
									<h3><a href="#">Lingjun Pu</a></h3>
									<!-- Member designation -->
									<p>Master Student</p>
									<span>Department of Electronical & Computer Engineering</span>
									<!-- Social media links -->
									<!--<div class="social">
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>-->
								</div>
							</div>

							<div class="col-md-4 col-sm-4">
								<!-- Chef Member -->
								<div class="chefs-member">
									<!-- Chefs member header -->
									<div class="chefs-head">
										<!-- Member background image -->
										<img class="chefs-back img-responsive" src="img/chef/c-back2.jpg" alt="" />
										<!-- chef member image -->
										<img class="chefs-img img-responsive" src="http://imagizer.imageshack.us/a/img661/69/khcz8U.jpg" alt="" />
									</div>
									<!--Name / Heading -->
									<h3><a href="#">Jeremy Tzou</a></h3>
									<!-- Member designation -->
									<p>Master Student</p>
									<span>Department of Computer Science</span>
									<!-- Social media links -->
									<!--<div class="social">
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>-->
								</div>
							</div>

							

						</div>
					</div>
				</div>
				<br><br><br>
				<div class="chefs padd">
					<div class="container">
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<!-- Chef Member -->
								<div class="chefs-member">
									<!-- Chefs member header -->
									<div class="chefs-head">
										<!-- Member background image -->
										<img class="chefs-back img-responsive" src="img/chef/c-back2.jpg" alt="" />
										<!-- chef member image -->
										<img class="chefs-img img-responsive" src="http://imageshack.com/a/img673/4030/716M4q.jpg" alt="" />
									</div>
									<!--Name / Heading -->
									<h3><a href="#">Kexin Chen</a></h3>
									<!-- Member designation -->
									<p>Master Student</p>
									<span>Department of Electronical & Computer Engineering</span>
									<!-- Social media links -->
									<!--<div class="social">
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>-->
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<!-- Chef Member -->
								<div class="chefs-member">
									<!-- Chefs member header -->
									<div class="chefs-head">
										<!-- Member background image -->
										<img class="chefs-back img-responsive" src="img/chef/c-back2.jpg" alt="" />
										<!-- chef member image -->
										<img class="chefs-img img-responsive" src="http://imageshack.com/a/img905/1930/o4RH69.jpg" alt="" />
									</div>
									<!--Name / Heading -->
									<h3><a href="#">Zhou Chen</a></h3>
									<!-- Member designation -->
									<p>Master Student</p>
									<span>Department of Electronical & Computer Engineering</span>
									<!-- Social media links -->
									<!--<div class="social">
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>-->
								</div>
							</div>

							<div class="col-md-4 col-sm-4">
								<!-- Chef Member -->
								<div class="chefs-member">
									<!-- Chefs member header -->
									<div class="chefs-head">
										<!-- Member background image -->
										<img class="chefs-back img-responsive" src="img/chef/c-back2.jpg" alt="" />
										<!-- chef member image -->
										<img class="chefs-img img-responsive" src="http://hdn.xnimg.cn/photos/hdn321/20150123/1040/large_kgYJ_74c80002e86c195a.jpg" alt="" />
									</div>
									<!--Name / Heading -->
									<h3><a href="#">Xin Zhang</a></h3>
									<!-- Member designation -->
									<p>Master Student</p>
									<span>Department of Geoscience</span>
									<!-- Social media links -->
									<!--<div class="social">
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>-->
								</div>
							</div></div></div>
				<!-- Chefs End -->
			
				
				
<br><br><br>		
<%= render partial: "layouts/foot"%>
			
		</div><!-- / Wrapper End -->
		
		
		<!-- Scroll to top -->
		<span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span> 
		
		
		
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="js/jquery.js"></script>
		<!-- Bootstrap JS -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Pretty Photo JS -->
		<script src="js/jquery.prettyPhoto.js"></script>
		<!-- Respond JS for IE8 -->
		<script src="js/respond.min.js"></script>
		<!-- HTML5 Support for IE -->
		<script src="js/html5shiv.js"></script>
		<!-- Custom JS -->
		<script src="js/custom.js"></script>
		<!-- JS code for this page -->
		<script>
		</script>
	</body>	
</html>