<div class = 'container-fluid'>
	<div align=center>
		<img src='http://wecarepet.com/images/pia-logo.png' alt="petQuest log">
		<h1> Hello, Dear PetQuest Customers! </h1>
		<h1>Make a Healthy Diet For Your Lovely Kitty!</h1>
		<a href="http://localhost:3000/foods" class="btn2">View Foods</a>
		<a class="btn2" href="http://localhost:3000/pets">Show Pets</a>
		<a class="btn2" href="http://localhost:3000/pets/new">Input Pets</a></div>
		<div id="ctn0"><p>  </p></div>
<div class='text-right'><a href="http://www.wecarepet.com" >Link to our home page</a></div>
</div>


