<%=render partial: "layouts/head"%>
<!-- Banner Start -->
      
      <div class="banner padd">
        <div class="container">
          <!-- Image -->
          <img class="img-responsive" src="http://dakotapethospital.com/clients/14546/images/slideshows/29628/banner%204%20edited.jpg">
          <!-- Heading -->
          <h2 class="brown">New Food</h2>
          <ol class="breadcrumb">
            <li><a href="index.html"></a></li>
            <li class="active"></li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
      
      <!-- Banner End -->
<!-- Booking Start -->
				
				<div class="booking">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
								<!-- Heading -->
								<h3>New Food</h3>
								<!-- Paragraph -->
							
								<!-- Image Slider -->
								<img class="img-responsive" src="http://www.papillonpalsrescue.com/images/a-lot-of-dogs.jpg" alt="" ></div>
										
							<div class="col-md-5">
								<!-- Booking form area -->
								<div class="booking-form">
									<!-- Heading -->
									<h3>Add your pet's food</h3>
									<!-- Paragraph -->
									<!-- Booking form -->
									<%= render "form"%>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Booking End -->      
<!-- Footer Start -->
			
		<%=render partial:"layouts/foot"%>  
			
			<!-- Footer End -->



