<%=render partial: "layouts/head"%>

<div class="banner padd">
        <div class="container">
          <!-- Image -->
          <img class="img-responsive" src="http://dakotapethospital.com/clients/14546/images/slideshows/29628/banner%204%20edited.jpg" alt="" />
          <!-- Heading -->
          <h2 class="brown">Foods Info</h2>
          <ol class="breadcrumb">
            <li><a href="index.html"></a></li>
            <li class="active"></li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>


<div class="table-responsive col-md-4">
    <table class="table table-bordered">
      <tbody>
          <tr>
            <td>foodname</td>
            <td>carrot</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
          </tr>
      </table>
</div>          
 
<div class="table-responsive col-md-4">
    <table class="table table-bordered">
      <tbody>
        
          <tr>
            <td>3</td>
            <td>4</td>
          </tr>
      </table>
</div> 

<div class="table-responsive col-md-4">
    <table class="table table-bordered">
      <tbody>
        
          <tr>
            <td>5</td>
            <td>6</td>
          </tr>
      </table>
</div>           
      
         





  <% @food_nutrition.attributes.each do |attr_name, attr_value| %>
    <div class="food_nutrition_attribute">
     <%= attr_name %>: <%= attr_value %>
    </div>
  <% end %>

  @food_nutrition.weight
  @food_nutrition.category


<div class="ctn0"><p>  </p></div>
<div align="center">
<%= link_to 'Edit', edit_food_path(@food),class:"btn2" %> 

<a href="http://localhost:3000/foods" class="btn2">Back</a></div></div>
</div>

