body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:250px;
  top:80px;
  width:650px;
  height:440px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:440px;
}
#u1 {
  position:absolute;
  left:2px;
  top:212px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:412px;
  top:148px;
  width:190px;
  height:252px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:252px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:281px;
  top:148px;
  width:100px;
  height:150px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:150px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:602px;
  top:148px;
  width:260px;
  height:275px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:88px;
  top:0px;
  width:83px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:171px;
  top:0px;
  width:84px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:88px;
  top:30px;
  width:83px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:171px;
  top:30px;
  width:84px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:60px;
  width:88px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:88px;
  top:60px;
  width:83px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:171px;
  top:60px;
  width:84px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:90px;
  width:88px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:88px;
  top:90px;
  width:83px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:171px;
  top:90px;
  width:84px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:120px;
  width:88px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:88px;
  top:120px;
  width:83px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:171px;
  top:120px;
  width:84px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:150px;
  width:88px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:88px;
  top:150px;
  width:83px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:171px;
  top:150px;
  width:84px;
  height:30px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:180px;
  width:88px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:88px;
  top:180px;
  width:83px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:171px;
  top:180px;
  width:84px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:210px;
  width:88px;
  height:30px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:88px;
  top:210px;
  width:83px;
  height:30px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:171px;
  top:210px;
  width:84px;
  height:30px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:240px;
  width:88px;
  height:30px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:88px;
  top:240px;
  width:83px;
  height:30px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:171px;
  top:240px;
  width:84px;
  height:30px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:282px;
  top:100px;
  width:608px;
  height:38px;
  font-size:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:38px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:281px;
  top:309px;
  width:110px;
  height:150px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:378px;
  top:450px;
  width:87px;
  height:39px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:39px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:395px;
  top:461px;
  width:70px;
  height:28px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:670px;
  top:452px;
  width:191px;
  height:37px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:37px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:496px;
  top:469px;
  width:229px;
  height:28px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:28px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:281px;
  top:450px;
  width:87px;
  height:39px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:39px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:310px;
  top:461px;
  width:70px;
  height:28px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:412px;
  top:405px;
  width:200px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u77_img.mouseOver {
}
#u77.mouseOver {
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
