<!-- Footer Start -->
      
      <div class="footer padd">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Logo area -->
                <div class="logo">
                  <div class="img-responsive" alt="" ><%=image_tag "logo.png" %><h1>PetQuest</h1></div>
                  <!-- Heading -->
                  
                </div>
                <!-- Paragraph -->
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
                <hr />
                <!-- Heading -->
                <h6>On-line Payment Clients</h6>
                <!-- Images -->
                <a href="#"><div class="payment img-responsive" alt="" ><%=image_tag "payment/2co.gif" %></div></a>
                <a href="#"><div class="payment img-responsive" alt="" ><%=image_tag "payment/mastercard.gif" %></div></a>
                <a href="#"><div class="payment img-responsive" alt="" ><%=image_tag "payment/paypal.gif" %></div></a>
              </div> <!--/ Footer widget end -->
            </div>
            <div class="col-md-3 col-sm-6">
              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Heading -->
                <h4>Hottest Recipes</h4>
                <!-- Images -->
                <a href="#"><img class="img-responsive" src="http://www.joyfulbelly.com/Ayurveda/images/recipe_book.gif" alt="" /></a>
                
                <a href="#"><img class="dish img-responsive" src="img/dish/dish1.jpg" alt="" /></a>
                <a href="#"><img class="dish img-responsive" src="img/dish/dish1.jpg" alt="" /></a>
                <a href="#"><img class="dish img-responsive" src="img/dish/dish1.jpg" alt="" /></a>
                <a href="#"><img class="dish img-responsive" src="img/dish/dish1.jpg" alt="" /></a>
                <a href="#"><img class="dish img-responsive" src="img/dish/dish1.jpg" alt="" /></a>
                <a href="#"><img class="dish img-responsive" src="img/dish/dish1.jpg" alt="" /></a>
                <a href="#"><img class="dish img-responsive" src="img/dish/dish1.jpg" alt="" /></a>
                <a href="#"><img class="dish img-responsive" src="img/dish/dish1.jpg" alt="" /></a>
              </div> <!--/ Footer widget end -->
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-md-3 col-sm-6">
              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Heading -->
                <h4>Join Us Today</h4>
                <!-- Paragraph -->
                <p>There is no one who loves pain itself, who seeks after it and wants to have it.</p>
                <!-- Subscribe form -->
                <form role="form">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Your name" />
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="email" placeholder="Your email" />
                  </div>
                  <button class="btn btn-danger" type="button">Subscribe</button>
                </form>
              </div> <!--/ Footer widget end -->
            </div>
            <div class="col-md-3 col-sm-6">
              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Heading -->
                <h4>Contact Us</h4>
                <div class="contact-details">
                  <!-- Address / Icon -->
                  <i class="fa fa-map-marker br-red"></i> <span>#768, 5th floor, N S Building,<br />Csm Block, Park Road,<br /> Bangalore - 234567</span>
                  <div class="clearfix"></div>
                  <!-- Contact Number / Icon -->
                  <i class="fa fa-phone br-green"></i> <span>+91 88-88-888888</span>
                  <div class="clearfix"></div>
                  <!-- Email / Icon -->
                  <i class="fa fa-envelope-o br-lblue"></i> <span><a href="#">abc@example.com</a></span>
                  <div class="clearfix"></div>
                </div>
                <!-- Social media icon -->
                <div class="social">
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                </div>
              </div> <!--/ Footer widget end -->
            </div>
          </div>
          <!-- Copyright -->
          <div class="footer-copyright">
            <!-- Paragraph -->
            <p>&copy; Copyright 2015 <a href="#">PetQuest</a></p>
          </div>
        </div>
      </div>
      
      <!-- Footer End -->




