<p>
  <div style="width:60px" class='col-md-2 col-md-offset-4' id="ctn5">
  	<h2>Recommended Daily ME: </h2> <br>
    <h2><%= @me_result%> KCal  <h2>
  	<%= link_to 'Back', edit_pet_path(@pet), class:"btn2"%>
  </div>

  </p>