<<<<<<< HEAD
<%=render partial: "layouts/head"%>
<!-- Banner Start -->
      
      <div class="banner padd">
        <div class="container">
          <!-- Image -->
          <img class="img-responsive" src="http://dakotapethospital.com/clients/14546/images/slideshows/29628/banner%204%20edited.jpg" alt="" />
          <!-- Heading -->
          <h2 class="brown">ME Result</h2>
          <ol class="breadcrumb">
            <li><a href="index.html"></a></li>
            <li class="active"></li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- Banner End -->
				<div class="showcase">
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-sm-10 col-md-offset-1">
								<!-- Showcase section item -->
								<div class="showcase-item">
									<!-- Image -->
									<img class="img-responsive" src="http://cdn.pet360.com/pet360/Content/Images/CMS/Cat-Dog.png" alt="" />
									<!-- Heading -->
									<h3><a href="#">ME Result:</a></h3>
									<!-- Paragraph -->
									<p><%= @me_result%></p>
									<div align="center"><%= link_to 'Back', pet_path(@pet), :class=>"btn btn-danger"%></div>
									<br>
									<div class="clearfix"></div>
								</div>
							</div></div></div></div>
							<br><br><br>

<%= render partial: "layouts/foot"%>
