body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1060px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:283px;
  top:28px;
  width:230px;
  height:28px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:28px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u1 {
  position:absolute;
  left:952px;
  top:34px;
  width:108px;
  height:16px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:513px;
  top:26px;
  width:30px;
  height:31px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:30px;
  width:160px;
  height:24px;
  font-size:20px;
  color:#FF9900;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:100px;
  top:90px;
  width:960px;
  height:85px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:85px;
}
#u8 {
  position:absolute;
  left:2px;
  top:34px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:539px;
  top:120px;
  width:130px;
  height:24px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:100px;
  top:210px;
  width:960px;
  height:290px;
  font-size:20px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:290px;
}
#u12 {
  position:absolute;
  left:0px;
  top:133px;
  width:960px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:576px;
  top:28px;
  width:59px;
  height:28px;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:28px;
}
#u14 {
  position:absolute;
  left:0px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:645px;
  top:32px;
  width:45px;
  height:19px;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:710px;
  top:32px;
  width:80px;
  height:19px;
  font-size:16px;
  color:#FF9900;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
